In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Netflix_Dataset_Rating/Netflix_Dataset_Rating.csv')

In [3]:
data['User_ID'].nunique

<bound method IndexOpsMixin.nunique of 0            712664
1           1331154
2           2632461
3             44937
4            656399
             ...
17337453     520675
17337454    1055714
17337455    2643029
17337456    1559566
17337457     293198
Name: User_ID, Length: 17337458, dtype: int64>

In [4]:
data = data[data['User_ID'] < 100000]

In [5]:
data

          User_ID  Rating  Movie_ID
3           44937       5         3
16          66414       5         3
19          67315       4         3
29          79160       4         3
42           6689       4         3
...           ...     ...       ...
17337284    50400       5      4496
17337311    24059       5      4496
17337315    10897       2      4496
17337384    13017       3      4496
17337451    15737       4      4496

[644151 rows x 3 columns]

In [7]:
data.to_csv('./reduced_1.csv', index=False)

In [8]:
df = pd.read_csv('./reduced_1.csv')

In [9]:
df

        User_ID  Rating  Movie_ID
0         44937       5         3
1         66414       5         3
2         67315       4         3
3         79160       4         3
4          6689       4         3
...         ...     ...       ...
644146    50400       5      4496
644147    24059       5      4496
644148    10897       2      4496
644149    13017       3      4496
644150    15737       4      4496

[644151 rows x 3 columns]

In [31]:
data['User_ID'].value_counts()

305344    1344
387418    1339
322009    1029
303948    1014
491531     988
          ...
126998      16
334857      15
117368      13
246624      13
313872      13
Name: User_ID, Length: 27329, dtype: int64

In [33]:
data.to_csv('./netflix_rating_reduced.csv', index = False)

In [42]:
data.User_ID.nunique()

27329

In [44]:
data.Movie_ID.nunique()

1350

In [52]:
data.describe()

            User_ID        Rating      Movie_ID
count  3.292522e+06  3.292522e+06  3.292522e+06
mean   2.517654e+05  3.589196e+00  2.303056e+03
std    1.441120e+05  1.063007e+00  1.303452e+03
min    6.000000e+00  1.000000e+00  3.000000e+00
25%    1.266040e+05  3.000000e+00  1.180000e+03
50%    2.542220e+05  4.000000e+00  2.342000e+03
75%    3.766000e+05  4.000000e+00  3.433000e+03
max    4.999940e+05  5.000000e+00  4.496000e+03

In [53]:
data

          User_ID  Rating  Movie_ID
3           44937       5         3
5          439011       1         3
12         115498       3         3
16          66414       5         3
19          67315       4         3
...           ...     ...       ...
17337443   315769       4      4496
17337444   395028       3      4496
17337450   196584       5      4496
17337451    15737       4      4496
17337457   293198       3      4496

[3292522 rows x 3 columns]