In [1]:
import pandas as pd
import numpy as np
import sys
from timeit import default_timer as timer

In [2]:
from surprise import Reader, Dataset, SVD, SVDpp
from surprise import accuracy
from surprise.model_selection import train_test_split

In [10]:
df = pd.read_csv('ã…œ'

In [13]:
model = SVD(n_epochs=10, verbose=True)
data = Dataset.load_from_df(df[['User_ID','Movie_ID','Rating']],Reader())
trainset, testset = train_test_split(data, test_size=0.3, random_state=10)
trainset = data.build_full_trainset()

In [17]:
model.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9

In [18]:
predictions = model.test(testset)
accuracy.rmse(predictions, verbose=True)

RMSE: 0.8294

0.8294318833246187

In [19]:
df_title = pd.read_csv('Netflix_Dataset_Movie.csv')
f = ['count','mean']
df_movie_summary = df.groupby('Movie_ID')['Rating'].agg(f)
movie_benchmark = round(df_movie_summary['count'].quantile(0.7),0)
drop_movie_list = df_movie_summary[df_movie_summary['count'] < movie_benchmark].index

"\ndef Recommender(given_user_id, n_movies):\n    given_user = df_title.copy()\n    given_user = given_user.reset_index()\n    given_user = given_user[~given_user['Movie_ID'].isin(drop_movie_list)]\n    \n    given_user['Estimated_Rating'] = given_user['Movie_ID'].apply ...\n    (lambda x: model.predict(given_user_id, x).est)\n    \n    given_user = given_user.drop('Movie_ID', axis = 1)\n    given_user = given_user.sort_values('Estimated_Rating', ascending = False)\n    given_user.drop(['index'], axis = 1, inplace = True)\n    given_user.reset_index(inplace = True, drop = True)\n    return given_user.head(n_movies)\n"

In [21]:
def Recommender(given_user_id, n_movies):
    given_user = df_title.copy()
    given_user = given_user.reset_index()
    given_user = given_user[~given_user['Movie_ID'].isin(drop_movie_list)]
    
    given_user['Estimated_Rating'] = given_user['Movie_ID'].apply(lambda x: model.predict(given_user_id, x).est)
    
    given_user = given_user.drop('Movie_ID', axis = 1)
    given_user = given_user.sort_values('Estimated_Rating', ascending = False)
    given_user.drop(['index'], axis = 1, inplace = True)
    given_user.reset_index(inplace = True, drop = True)
    return given_user.head(n_movies)

In [22]:
Recommender(712664,5)

   Year                               Name  Estimated_Rating
0  1954                      Seven Samurai          5.000000
1  1990  The Simpsons: Treehouse of Horror          4.910361
2  1991             The Simpsons: Season 3          4.816233
3  1992                     Reservoir Dogs          4.801512
4  1949                      The Third Man          4.694483

In [23]:
Recommender(2643029,10)

   Year                               Name  Estimated_Rating
0  1995                Pride and Prejudice          4.632754
1  1954                      Seven Samurai          4.612518
2  1990  The Simpsons: Treehouse of Horror          4.580988
3  1992                     Reservoir Dogs          4.561178
4  1974                      The Godfather          4.524487
5  2002                        The Pianist          4.519947
6  1959                 North by Northwest          4.469716
7  1999                    American Beauty          4.463408
8  1989             The Simpsons: Season 1          4.460580
9  1991             The Simpsons: Season 3          4.458849