In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./Netflix_Dataset_Rating/Netflix_Dataset_Rating.csv')

In [9]:
df['User_ID'].unique

<bound method Series.unique of 0            712664
1           1331154
2           2632461
3             44937
4            656399
             ...
17337453     520675
17337454    1055714
17337455    2643029
17337456    1559566
17337457     293198
Name: User_ID, Length: 17337458, dtype: int64>

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
trainset, testset = train_test_split(df, stratify = df['User_ID'], test_size = 0.3, random_state = 78)

In [13]:
trainset.shape

(12136220, 3)

In [17]:
trainset

          User_ID  Rating  Movie_ID
13560441  1970257       4      3605
16907346   183237       2      4389
12278633   876661       3      3282
9105553   1752442       1      2422
13844694  1474958       5      3638
...           ...     ...       ...
5821982   1607972       3      1615
16825724  2434573       5      4369
8665600   2241940       5      2342
12443960    39533       4      3320
14495541   506911       5      3825

[12136220 rows x 3 columns]

In [14]:
testset.shape

(5201238, 3)

In [15]:
trainset.to_csv('./netflix_train.csv', index=False)

In [16]:
testset.to_csv('./netflix_test.csv')